KAFKA_BROKERS=
KAFKA_USERNAME=
KAFKA_PASSWORD=
ANTHROPIC_API_KEY=
DELTASTREAM_API_TOKEN=
DELTASTREAM_API_URL=https://api-kap822.deltastream.io
DELTASTREAM_MCP_URL=https://api-kap822.deltastream.io/mcp/v2
ANTHROPIC_MODEL=claude-3-5-sonnet-latest
